B1WebService_HK/wsdlFiles/ApprovalStagesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="ApprovalStagesService" xmlns:s1="http://www.sap.com/SBO/DIS" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="ApprovalStagesService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sap.com/SBO/DIS">
      <s:element name="AddApprovalStageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ApprovalStageParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApprovalStageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ApprovalStage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateApprovalStageResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="RemoveApprovalStageResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="GetApprovalStageListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ApprovalStagesParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApprovalStage">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="Code" type="s:long" />
            <s:element minOccurs="0" name="Name" type="s:string" />
            <s:element minOccurs="0" name="NoOfApproversRequired" type="s:long" />
            <s:element minOccurs="0" name="Remarks" type="s:string" />
            <s:element minOccurs="0" name="ApprovalStageApprovers">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ApprovalStageApprover">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="UserID" type="s:long" />
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="ApprovalStageParams">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="Code" type="s:long" />
            <s:element minOccurs="0" name="Name" type="s:string" />
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="ApprovalStagesParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="ApprovalStageParams">
              <s:complexType>
                <s:all>
                  <s:element minOccurs="0" name="Code" type="s:long" />
                  <s:element minOccurs="0" name="Name" type="s:string" />
                </s:all>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MsgHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceName">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="ApprovalStagesService" />
                </s:restriction>
              </s:simpleType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="ApprovalStagesService">
      <s:import namespace="http://www.sap.com/SBO/DIS" />
      <s:element name="AddApprovalStage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ApprovalStage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApprovalStage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ApprovalStageParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateApprovalStage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ApprovalStage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveApprovalStage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ApprovalStageParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApprovalStageList">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddApprovalStageSoapIn">
    <wsdl:part name="parameters" element="tns:AddApprovalStage" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="AddApprovalStageSoapOut">
    <wsdl:part name="parameters" element="s1:AddApprovalStageResponse" />
  </wsdl:message>
  <wsdl:message name="GetApprovalStageSoapIn">
    <wsdl:part name="parameters" element="tns:GetApprovalStage" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="GetApprovalStageSoapOut">
    <wsdl:part name="parameters" element="s1:GetApprovalStageResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateApprovalStageSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateApprovalStage" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateApprovalStageSoapOut">
    <wsdl:part name="parameters" element="s1:UpdateApprovalStageResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveApprovalStageSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveApprovalStage" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="RemoveApprovalStageSoapOut">
    <wsdl:part name="parameters" element="s1:RemoveApprovalStageResponse" />
  </wsdl:message>
  <wsdl:message name="GetApprovalStageListSoapIn">
    <wsdl:part name="parameters" element="tns:GetApprovalStageList" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="GetApprovalStageListSoapOut">
    <wsdl:part name="parameters" element="s1:GetApprovalStageListResponse" />
  </wsdl:message>
  <wsdl:portType name="ApprovalStagesServiceSoap">
    <wsdl:operation name="AddApprovalStage">
      <wsdl:input message="tns:AddApprovalStageSoapIn" />
      <wsdl:output message="tns:AddApprovalStageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApprovalStage">
      <wsdl:input message="tns:GetApprovalStageSoapIn" />
      <wsdl:output message="tns:GetApprovalStageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateApprovalStage">
      <wsdl:input message="tns:UpdateApprovalStageSoapIn" />
      <wsdl:output message="tns:UpdateApprovalStageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveApprovalStage">
      <wsdl:input message="tns:RemoveApprovalStageSoapIn" />
      <wsdl:output message="tns:RemoveApprovalStageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApprovalStageList">
      <wsdl:input message="tns:GetApprovalStageListSoapIn" />
      <wsdl:output message="tns:GetApprovalStageListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApprovalStagesServiceSoap" type="tns:ApprovalStagesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddApprovalStage">
      <soap:operation soapAction="ApprovalStagesService/AddApprovalStage" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:AddApprovalStageSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalStage">
      <soap:operation soapAction="ApprovalStagesService/GetApprovalStage" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:GetApprovalStageSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApprovalStage">
      <soap:operation soapAction="ApprovalStagesService/UpdateApprovalStage" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:UpdateApprovalStageSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveApprovalStage">
      <soap:operation soapAction="ApprovalStagesService/RemoveApprovalStage" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:RemoveApprovalStageSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalStageList">
      <soap:operation soapAction="ApprovalStagesService/GetApprovalStageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:GetApprovalStageListSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ApprovalStagesServiceSoap12" type="tns:ApprovalStagesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddApprovalStage">
      <soap12:operation soapAction="ApprovalStagesService/AddApprovalStage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:AddApprovalStageSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalStage">
      <soap12:operation soapAction="ApprovalStagesService/GetApprovalStage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:GetApprovalStageSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApprovalStage">
      <soap12:operation soapAction="ApprovalStagesService/UpdateApprovalStage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:UpdateApprovalStageSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveApprovalStage">
      <soap12:operation soapAction="ApprovalStagesService/RemoveApprovalStage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:RemoveApprovalStageSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalStageList">
      <soap12:operation soapAction="ApprovalStagesService/GetApprovalStageList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:GetApprovalStageListSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApprovalStagesService">
    <wsdl:port name="ApprovalStagesServiceSoap" binding="tns:ApprovalStagesServiceSoap">
      <soap:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ApprovalStagesServiceSoap12" binding="tns:ApprovalStagesServiceSoap12">
      <soap12:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>