B1WebService_HK/wsdlFiles/BranchesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="BranchesService" xmlns:s1="http://www.sap.com/SBO/DIS" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="BranchesService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sap.com/SBO/DIS">
      <s:element name="AddBranchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:BranchParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBranchResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="DeleteBranchResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="GetBranchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Branch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBranchListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:BranchesParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Branch">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="Code" type="s:long" />
            <s:element minOccurs="0" name="Name" type="s:string" />
            <s:element minOccurs="0" name="Description" type="s:string" />
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="BranchParams">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="Code" type="s:long" />
            <s:element minOccurs="0" name="Name" type="s:string" />
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="BranchesParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="BranchParams">
              <s:complexType>
                <s:all>
                  <s:element minOccurs="0" name="Code" type="s:long" />
                  <s:element minOccurs="0" name="Name" type="s:string" />
                </s:all>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MsgHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceName">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="BranchesService" />
                </s:restriction>
              </s:simpleType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="BranchesService">
      <s:import namespace="http://www.sap.com/SBO/DIS" />
      <s:element name="AddBranch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Branch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBranch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Branch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBranch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:BranchParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBranch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:BranchParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBranchList">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddBranchSoapIn">
    <wsdl:part name="parameters" element="tns:AddBranch" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="AddBranchSoapOut">
    <wsdl:part name="parameters" element="s1:AddBranchResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBranchSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBranch" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateBranchSoapOut">
    <wsdl:part name="parameters" element="s1:UpdateBranchResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBranchSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBranch" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteBranchSoapOut">
    <wsdl:part name="parameters" element="s1:DeleteBranchResponse" />
  </wsdl:message>
  <wsdl:message name="GetBranchSoapIn">
    <wsdl:part name="parameters" element="tns:GetBranch" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="GetBranchSoapOut">
    <wsdl:part name="parameters" element="s1:GetBranchResponse" />
  </wsdl:message>
  <wsdl:message name="GetBranchListSoapIn">
    <wsdl:part name="parameters" element="tns:GetBranchList" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="GetBranchListSoapOut">
    <wsdl:part name="parameters" element="s1:GetBranchListResponse" />
  </wsdl:message>
  <wsdl:portType name="BranchesServiceSoap">
    <wsdl:operation name="AddBranch">
      <wsdl:input message="tns:AddBranchSoapIn" />
      <wsdl:output message="tns:AddBranchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBranch">
      <wsdl:input message="tns:UpdateBranchSoapIn" />
      <wsdl:output message="tns:UpdateBranchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBranch">
      <wsdl:input message="tns:DeleteBranchSoapIn" />
      <wsdl:output message="tns:DeleteBranchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBranch">
      <wsdl:input message="tns:GetBranchSoapIn" />
      <wsdl:output message="tns:GetBranchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBranchList">
      <wsdl:input message="tns:GetBranchListSoapIn" />
      <wsdl:output message="tns:GetBranchListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BranchesServiceSoap" type="tns:BranchesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBranch">
      <soap:operation soapAction="BranchesService/AddBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:AddBranchSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBranch">
      <soap:operation soapAction="BranchesService/UpdateBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:UpdateBranchSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBranch">
      <soap:operation soapAction="BranchesService/DeleteBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:DeleteBranchSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBranch">
      <soap:operation soapAction="BranchesService/GetBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:GetBranchSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBranchList">
      <soap:operation soapAction="BranchesService/GetBranchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:GetBranchListSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BranchesServiceSoap12" type="tns:BranchesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBranch">
      <soap12:operation soapAction="BranchesService/AddBranch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:AddBranchSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBranch">
      <soap12:operation soapAction="BranchesService/UpdateBranch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:UpdateBranchSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBranch">
      <soap12:operation soapAction="BranchesService/DeleteBranch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:DeleteBranchSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBranch">
      <soap12:operation soapAction="BranchesService/GetBranch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:GetBranchSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBranchList">
      <soap12:operation soapAction="BranchesService/GetBranchList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:GetBranchListSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BranchesService">
    <wsdl:port name="BranchesServiceSoap" binding="tns:BranchesServiceSoap">
      <soap:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="BranchesServiceSoap12" binding="tns:BranchesServiceSoap12">
      <soap12:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>