B1WebService_HK/wsdlFiles/BudgetsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="BudgetsService" xmlns:s1="http://www.sap.com/SBO/DIS" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="BudgetsService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sap.com/SBO/DIS">
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:BudgetParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="GetByParamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Budget" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="Budget">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="FutureAnnualExpensesCreditSys" type="s:double" />
            <s:element minOccurs="0" name="FutureAnnualExpensesCreditLoc" type="s:double" />
            <s:element minOccurs="0" name="FutureAnnualExpensesDebitSys" type="s:double" />
            <s:element minOccurs="0" name="FutureAnnualExpensesDebitLoc" type="s:double" />
            <s:element minOccurs="0" name="FutureAnnualRevenuesCredit" type="s:double" />
            <s:element minOccurs="0" name="FutureAnnualRevenuesDebit" type="s:double" />
            <s:element minOccurs="0" name="FutureRevenuesDebitSys" type="s:double" />
            <s:element minOccurs="0" name="FutureRevenuesDebitLoc" type="s:double" />
            <s:element minOccurs="0" name="ParentAccPercent" type="s:double" />
            <s:element minOccurs="0" name="StartofFiscalYear" type="s:date" />
            <s:element minOccurs="0" name="ParentAccountKey" type="s:string" />
            <s:element minOccurs="0" name="TotalAnnualBudgetDebitSys" type="s:double" />
            <s:element minOccurs="0" name="BudgetBalanceDebitSys" type="s:double" />
            <s:element minOccurs="0" name="BudgetBalanceDebitLoc" type="s:double" />
            <s:element minOccurs="0" name="TotalAnnualBudgetDebitLoc" type="s:double" />
            <s:element minOccurs="0" name="TotalAnnualBudgetCreditSys" type="s:double" />
            <s:element minOccurs="0" name="TotalAnnualBudgetCreditLoc" type="s:double" />
            <s:element minOccurs="0" name="BudgetBalanceCreditSys" type="s:double" />
            <s:element minOccurs="0" name="BudgetBalanceCreditLoc" type="s:double" />
            <s:element minOccurs="0" name="DivisionCode" type="s:long" />
            <s:element minOccurs="0" name="AccountCode" type="s:string" />
            <s:element minOccurs="0" name="Numerator" type="s:long" />
            <s:element minOccurs="0" name="BudgetScenario" type="s:long" />
            <s:element minOccurs="0" name="BudgetLines">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="BudgetLine">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="PrecentOfAnnualBudgetAmount" type="s:double" />
                        <s:element minOccurs="0" name="RowDetails" type="s:string" />
                        <s:element minOccurs="0" name="RowNumber" type="s:long" />
                        <s:element minOccurs="0" name="FutExpenSysDebit" type="s:double" />
                        <s:element minOccurs="0" name="FutExpenDebit" type="s:double" />
                        <s:element minOccurs="0" name="FutExpenSysCredit" type="s:double" />
                        <s:element minOccurs="0" name="FutExpenCredit" type="s:double" />
                        <s:element minOccurs="0" name="FutIncomesSysCredit" type="s:double" />
                        <s:element minOccurs="0" name="FutIncomesSysDebit" type="s:double" />
                        <s:element minOccurs="0" name="FutIncomesCredit" type="s:double" />
                        <s:element minOccurs="0" name="BudgetSysTotDebit" type="s:double" />
                        <s:element minOccurs="0" name="BalSysTotDebit" type="s:double" />
                        <s:element minOccurs="0" name="BalTotDebit" type="s:double" />
                        <s:element minOccurs="0" name="BudgetTotCredit" type="s:double" />
                        <s:element minOccurs="0" name="BudgetSysTotCredit" type="s:double" />
                        <s:element minOccurs="0" name="BudgetTotDebit" type="s:double" />
                        <s:element minOccurs="0" name="BalSysTotCredit" type="s:double" />
                        <s:element minOccurs="0" name="BalTotCredit" type="s:double" />
                        <s:element minOccurs="0" name="BudgetKey" type="s:long" />
                        <s:element minOccurs="0" name="AccountCode" type="s:string" />
                        <s:element minOccurs="0" name="FutureIncomeDeb" type="s:double" />
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="BudgetCostAccountingLines">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="BudgetCostAccountingLine">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="DistrRuleCode" type="s:string" />
                        <s:element minOccurs="0" name="Dimension" type="s:long" />
                        <s:element minOccurs="0" name="DistrRuleDebitLC" type="s:double" />
                        <s:element minOccurs="0" name="DistrRuleDebitSC" type="s:double" />
                        <s:element minOccurs="0" name="DistrRuleCreditLC" type="s:double" />
                        <s:element minOccurs="0" name="DistrRuleCreditSC" type="s:double" />
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="BudgetParams">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="Numerator" type="s:long" />
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="MsgHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceName">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="BudgetsService" />
                </s:restriction>
              </s:simpleType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="BudgetsService">
      <s:import namespace="http://www.sap.com/SBO/DIS" />
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Budget" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Remove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:BudgetParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:BudgetParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Budget" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="s1:AddResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveSoapIn">
    <wsdl:part name="parameters" element="tns:Remove" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="RemoveSoapOut">
    <wsdl:part name="parameters" element="s1:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="GetByParamsSoapIn">
    <wsdl:part name="parameters" element="tns:GetByParams" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="GetByParamsSoapOut">
    <wsdl:part name="parameters" element="s1:GetByParamsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="s1:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="BudgetsServiceSoap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input message="tns:RemoveSoapIn" />
      <wsdl:output message="tns:RemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByParams">
      <wsdl:input message="tns:GetByParamsSoapIn" />
      <wsdl:output message="tns:GetByParamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BudgetsServiceSoap" type="tns:BudgetsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="BudgetsService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:AddSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="BudgetsService/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:RemoveSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByParams">
      <soap:operation soapAction="BudgetsService/GetByParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:GetByParamsSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="BudgetsService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:UpdateSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BudgetsServiceSoap12" type="tns:BudgetsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="BudgetsService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:AddSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap12:operation soapAction="BudgetsService/Remove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:RemoveSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByParams">
      <soap12:operation soapAction="BudgetsService/GetByParams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:GetByParamsSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="BudgetsService/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:UpdateSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BudgetsService">
    <wsdl:port name="BudgetsServiceSoap" binding="tns:BudgetsServiceSoap">
      <soap:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="BudgetsServiceSoap12" binding="tns:BudgetsServiceSoap12">
      <soap12:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>