B1WebService_HK/wsdlFiles/FormPreferencesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="FormPreferencesService" xmlns:s1="http://www.sap.com/SBO/DIS" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="FormPreferencesService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sap.com/SBO/DIS">
      <s:element name="GetColumnsPreferencesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ColumnsPreferences" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateColumnsPreferencesResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="ColumnsPreferencesParams">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="User" type="s:long" />
            <s:element minOccurs="0" name="FormID" type="s:string" />
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="ColumnsPreferences">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="ColumnPreferences">
              <s:complexType>
                <s:all>
                  <s:element minOccurs="0" name="User" type="s:long" />
                  <s:element minOccurs="0" name="FormID" type="s:string" />
                  <s:element minOccurs="0" name="ItemNumber" type="s:string" />
                  <s:element minOccurs="0" name="Column" type="s:string" />
                  <s:element minOccurs="0" name="Width" type="s:long" />
                  <s:element minOccurs="0" name="VisibleInForm">
                    <s:simpleType>
                      <s:restriction base="s:string">
                        <s:enumeration value="tNO" />
                        <s:enumeration value="tYES" />
                      </s:restriction>
                    </s:simpleType>
                  </s:element>
                  <s:element minOccurs="0" name="TabsLayout" type="s:long" />
                  <s:element minOccurs="0" name="EditableInForm">
                    <s:simpleType>
                      <s:restriction base="s:string">
                        <s:enumeration value="tNO" />
                        <s:enumeration value="tYES" />
                      </s:restriction>
                    </s:simpleType>
                  </s:element>
                  <s:element minOccurs="0" name="VisibleInExpanded">
                    <s:simpleType>
                      <s:restriction base="s:string">
                        <s:enumeration value="tNO" />
                        <s:enumeration value="tYES" />
                      </s:restriction>
                    </s:simpleType>
                  </s:element>
                  <s:element minOccurs="0" name="ExpandedIndex" type="s:long" />
                  <s:element minOccurs="0" name="EditableInExpanded">
                    <s:simpleType>
                      <s:restriction base="s:string">
                        <s:enumeration value="tNO" />
                        <s:enumeration value="tYES" />
                      </s:restriction>
                    </s:simpleType>
                  </s:element>
                </s:all>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MsgHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceName">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="FormPreferencesService" />
                </s:restriction>
              </s:simpleType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="FormPreferencesService">
      <s:import namespace="http://www.sap.com/SBO/DIS" />
      <s:element name="GetColumnsPreferences">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ColumnsPreferencesParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateColumnsPreferences">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ColumnsPreferencesParams" />
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ColumnsPreferences" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetColumnsPreferencesSoapIn">
    <wsdl:part name="parameters" element="tns:GetColumnsPreferences" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="GetColumnsPreferencesSoapOut">
    <wsdl:part name="parameters" element="s1:GetColumnsPreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateColumnsPreferencesSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateColumnsPreferences" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateColumnsPreferencesSoapOut">
    <wsdl:part name="parameters" element="s1:UpdateColumnsPreferencesResponse" />
  </wsdl:message>
  <wsdl:portType name="FormPreferencesServiceSoap">
    <wsdl:operation name="GetColumnsPreferences">
      <wsdl:input message="tns:GetColumnsPreferencesSoapIn" />
      <wsdl:output message="tns:GetColumnsPreferencesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateColumnsPreferences">
      <wsdl:input message="tns:UpdateColumnsPreferencesSoapIn" />
      <wsdl:output message="tns:UpdateColumnsPreferencesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FormPreferencesServiceSoap" type="tns:FormPreferencesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetColumnsPreferences">
      <soap:operation soapAction="FormPreferencesService/GetColumnsPreferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:GetColumnsPreferencesSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateColumnsPreferences">
      <soap:operation soapAction="FormPreferencesService/UpdateColumnsPreferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:UpdateColumnsPreferencesSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FormPreferencesServiceSoap12" type="tns:FormPreferencesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetColumnsPreferences">
      <soap12:operation soapAction="FormPreferencesService/GetColumnsPreferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:GetColumnsPreferencesSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateColumnsPreferences">
      <soap12:operation soapAction="FormPreferencesService/UpdateColumnsPreferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:UpdateColumnsPreferencesSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FormPreferencesService">
    <wsdl:port name="FormPreferencesServiceSoap" binding="tns:FormPreferencesServiceSoap">
      <soap:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="FormPreferencesServiceSoap12" binding="tns:FormPreferencesServiceSoap12">
      <soap12:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>