B1WebService_HK/wsdlFiles/JournalEntriesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="JournalEntriesService" xmlns:s1="http://www.sap.com/SBO/DIS" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="JournalEntriesService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sap.com/SBO/DIS">
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:JournalEntryParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByParamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:JournalEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="CancelResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="JournalEntry">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="ReferenceDate" type="s:date" />
            <s:element minOccurs="0" name="Memo" type="s:string" />
            <s:element minOccurs="0" name="Reference" type="s:string" />
            <s:element minOccurs="0" name="Reference2" type="s:string" />
            <s:element minOccurs="0" name="TransactionCode" type="s:string" />
            <s:element minOccurs="0" name="ProjectCode" type="s:string" />
            <s:element minOccurs="0" name="TaxDate" type="s:date" />
            <s:element minOccurs="0" name="JdtNum" type="s:long" />
            <s:element minOccurs="0" name="Indicator" type="s:string" />
            <s:element minOccurs="0" name="UseAutoStorno">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="StornoDate" type="s:date" />
            <s:element minOccurs="0" name="VatDate" type="s:date" />
            <s:element minOccurs="0" name="Series" type="s:long" />
            <s:element minOccurs="0" name="StampTax">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="DueDate" type="s:date" />
            <s:element minOccurs="0" name="AutoVAT">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Number" type="s:long" />
            <s:element minOccurs="0" name="FolioNumber" type="s:long" />
            <s:element minOccurs="0" name="FolioPrefixString" type="s:string" />
            <s:element minOccurs="0" name="ReportEU">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Report347">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Printed">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="psNo" />
                  <s:enumeration value="psYes" />
                  <s:enumeration value="psAmended" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="LocationCode" type="s:long" />
            <s:element minOccurs="0" name="OriginalJournal">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="ttAllTransactions" />
                  <s:enumeration value="ttOpeningBalance" />
                  <s:enumeration value="ttClosingBalance" />
                  <s:enumeration value="ttARInvoice" />
                  <s:enumeration value="ttARCredItnote" />
                  <s:enumeration value="ttDelivery" />
                  <s:enumeration value="ttReturn" />
                  <s:enumeration value="ttAPInvoice" />
                  <s:enumeration value="ttAPCreditNote" />
                  <s:enumeration value="ttPurchaseDeliveryNote" />
                  <s:enumeration value="ttPurchaseReturn" />
                  <s:enumeration value="ttReceipt" />
                  <s:enumeration value="ttDeposit" />
                  <s:enumeration value="ttJournalEntry" />
                  <s:enumeration value="ttVendorPayment" />
                  <s:enumeration value="ttChequesForPayment" />
                  <s:enumeration value="ttStockList" />
                  <s:enumeration value="ttGeneralReceiptToStock" />
                  <s:enumeration value="ttGeneralReleaseFromStock" />
                  <s:enumeration value="ttTransferBetweenWarehouses" />
                  <s:enumeration value="ttWorkInstructions" />
                  <s:enumeration value="ttLandedCosts" />
                  <s:enumeration value="ttDeferredDeposit" />
                  <s:enumeration value="ttCorrectionInvoice" />
                  <s:enumeration value="ttInventoryValuation" />
                  <s:enumeration value="ttAPCorrectionInvoice" />
                  <s:enumeration value="ttAPCorrectionInvoiceReversal" />
                  <s:enumeration value="ttARCorrectionInvoice" />
                  <s:enumeration value="ttARCorrectionInvoiceReversal" />
                  <s:enumeration value="ttBoETransaction" />
                  <s:enumeration value="ttProductionOrder" />
                  <s:enumeration value="ttDownPayment" />
                  <s:enumeration value="ttPurchaseDownPayment" />
                  <s:enumeration value="ttInternalReconciliation" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Original" type="s:long" />
            <s:element minOccurs="0" name="BaseReference" type="s:string" />
            <s:element minOccurs="0" name="BlockDunningLetter">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="AutomaticWT">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="WTSum" type="s:double" />
            <s:element minOccurs="0" name="WTSumSC" type="s:double" />
            <s:element minOccurs="0" name="WTSumFC" type="s:double" />
            <s:element minOccurs="0" name="SignatureInputMessage" type="s:string" />
            <s:element minOccurs="0" name="SignatureDigest" type="s:string" />
            <s:element minOccurs="0" name="CertificationNumber" type="s:string" />
            <s:element minOccurs="0" name="PrivateKeyVersion" type="s:long" />
            <s:element minOccurs="0" name="Corisptivi">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Reference3" type="s:string" />
            <s:element minOccurs="0" name="DocumentType" type="s:string" />
            <s:element minOccurs="0" name="JournalEntryLines">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="JournalEntryLine">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="Line_ID" type="s:long" />
                        <s:element minOccurs="0" name="AccountCode" type="s:string" />
                        <s:element minOccurs="0" name="Debit" type="s:double" />
                        <s:element minOccurs="0" name="Credit" type="s:double" />
                        <s:element minOccurs="0" name="FCDebit" type="s:double" />
                        <s:element minOccurs="0" name="FCCredit" type="s:double" />
                        <s:element minOccurs="0" name="FCCurrency" type="s:string" />
                        <s:element minOccurs="0" name="DueDate" type="s:date" />
                        <s:element minOccurs="0" name="ShortName" type="s:string" />
                        <s:element minOccurs="0" name="ContraAccount" type="s:string" />
                        <s:element minOccurs="0" name="LineMemo" type="s:string" />
                        <s:element minOccurs="0" name="ReferenceDate1" type="s:date" />
                        <s:element minOccurs="0" name="ReferenceDate2" type="s:date" />
                        <s:element minOccurs="0" name="Reference1" type="s:string" />
                        <s:element minOccurs="0" name="Reference2" type="s:string" />
                        <s:element minOccurs="0" name="ProjectCode" type="s:string" />
                        <s:element minOccurs="0" name="CostingCode" type="s:string" />
                        <s:element minOccurs="0" name="TaxDate" type="s:date" />
                        <s:element minOccurs="0" name="BaseSum" type="s:double" />
                        <s:element minOccurs="0" name="TaxGroup" type="s:string" />
                        <s:element minOccurs="0" name="DebitSys" type="s:double" />
                        <s:element minOccurs="0" name="CreditSys" type="s:double" />
                        <s:element minOccurs="0" name="VatDate" type="s:date" />
                        <s:element minOccurs="0" name="VatLine">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="SystemBaseAmount" type="s:double" />
                        <s:element minOccurs="0" name="VatAmount" type="s:double" />
                        <s:element minOccurs="0" name="SystemVatAmount" type="s:double" />
                        <s:element minOccurs="0" name="GrossValue" type="s:double" />
                        <s:element minOccurs="0" name="AdditionalReference" type="s:string" />
                        <s:element minOccurs="0" name="CheckAbs" type="s:long" />
                        <s:element minOccurs="0" name="CostingCode2" type="s:string" />
                        <s:element minOccurs="0" name="CostingCode3" type="s:string" />
                        <s:element minOccurs="0" name="CostingCode4" type="s:string" />
                        <s:element minOccurs="0" name="TaxCode" type="s:string" />
                        <s:element minOccurs="0" name="TaxPostAccount">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tpa_Default" />
                              <s:enumeration value="tpa_SalesTaxAccount" />
                              <s:enumeration value="tpa_PurchaseTaxAccount" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="CostingCode5" type="s:string" />
                        <s:element minOccurs="0" name="LocationCode" type="s:long" />
                        <s:element minOccurs="0" name="ControlAccount" type="s:string" />
                        <s:element minOccurs="0" name="EqualizationTaxAmount" type="s:double" />
                        <s:element minOccurs="0" name="SystemEqualizationTaxAmount" type="s:double" />
                        <s:element minOccurs="0" name="TotalTax" type="s:double" />
                        <s:element minOccurs="0" name="SystemTotalTax" type="s:double" />
                        <s:element minOccurs="0" name="WTLiable">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="WTRow">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="PaymentBlock">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="BlockReason" type="s:long" />
                        <s:element minOccurs="0" name="FederalTaxID" type="s:string" />
                        <s:element minOccurs="0" name="BPLID" type="s:long" />
                        <s:element minOccurs="0" name="BPLName" type="s:string" />
                        <s:element minOccurs="0" name="VATRegNum" type="s:string" />
                        <s:element minOccurs="0" name="PaymentOrdered">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="U_Desc" type="s:string" />
                        <s:element minOccurs="0" name="CashFlowAssignments">
                          <s:complexType>
                            <s:sequence>
                              <s:element minOccurs="0" maxOccurs="unbounded" name="CashFlowAssignment">
                                <s:complexType>
                                  <s:all>
                                    <s:element minOccurs="0" name="CashFlowAssignmentsID" type="s:long" />
                                    <s:element minOccurs="0" name="CashFlowLineItemID" type="s:long" />
                                    <s:element minOccurs="0" name="Credit" type="s:double" />
                                    <s:element minOccurs="0" name="PaymentMeans">
                                      <s:simpleType>
                                        <s:restriction base="s:string">
                                          <s:enumeration value="pmtNotAssigned" />
                                          <s:enumeration value="pmtChecks" />
                                          <s:enumeration value="pmtBankTransfer" />
                                          <s:enumeration value="pmtCash" />
                                          <s:enumeration value="pmtCreditCard" />
                                        </s:restriction>
                                      </s:simpleType>
                                    </s:element>
                                    <s:element minOccurs="0" name="CheckNumber" type="s:string" />
                                    <s:element minOccurs="0" name="AmountLC" type="s:double" />
                                    <s:element minOccurs="0" name="AmountFC" type="s:double" />
                                  </s:all>
                                </s:complexType>
                              </s:element>
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="WithholdingTaxDataCollection">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="WithholdingTaxData">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="WTCode" type="s:string" />
                        <s:element minOccurs="0" name="WTAmountSys" type="s:double" />
                        <s:element minOccurs="0" name="WTAmountFC" type="s:double" />
                        <s:element minOccurs="0" name="WTAmount" type="s:double" />
                        <s:element minOccurs="0" name="WithholdingType" type="s:string" />
                        <s:element minOccurs="0" name="TaxableAmountinSys" type="s:double" />
                        <s:element minOccurs="0" name="TaxableAmountFC" type="s:double" />
                        <s:element minOccurs="0" name="TaxableAmount" type="s:double" />
                        <s:element minOccurs="0" name="RoundingType" type="s:string" />
                        <s:element minOccurs="0" name="Rate" type="s:double" />
                        <s:element minOccurs="0" name="Criteria" type="s:string" />
                        <s:element minOccurs="0" name="Category" type="s:string" />
                        <s:element minOccurs="0" name="BaseType" type="s:string" />
                        <s:element minOccurs="0" name="AppliedWTAmountSys" type="s:double" />
                        <s:element minOccurs="0" name="AppliedWTAmountFC" type="s:double" />
                        <s:element minOccurs="0" name="AppliedWTAmount" type="s:double" />
                        <s:element minOccurs="0" name="GLAccount" type="s:string" />
                        <s:element minOccurs="0" name="LineNum" type="s:long" />
                        <s:element minOccurs="0" name="BaseDocEntry" type="s:long" />
                        <s:element minOccurs="0" name="BaseDocLine" type="s:long" />
                        <s:element minOccurs="0" name="BaseDocType" type="s:long" />
                        <s:element minOccurs="0" name="BaseDocumentReference" type="s:long" />
                        <s:element minOccurs="0" name="Status">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="bost_Open" />
                              <s:enumeration value="bost_Close" />
                              <s:enumeration value="bost_Paid" />
                              <s:enumeration value="bost_Delivered" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="TargetAbsEntry" type="s:long" />
                        <s:element minOccurs="0" name="TargetDocumentType" type="s:long" />
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="JournalEntryParams">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="JdtNum" type="s:long" />
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="MsgHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceName">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="JournalEntriesService" />
                </s:restriction>
              </s:simpleType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="JournalEntriesService">
      <s:import namespace="http://www.sap.com/SBO/DIS" />
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:JournalEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:JournalEntryParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:JournalEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:JournalEntryParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="s1:AddResponse" />
  </wsdl:message>
  <wsdl:message name="GetByParamsSoapIn">
    <wsdl:part name="parameters" element="tns:GetByParams" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="GetByParamsSoapOut">
    <wsdl:part name="parameters" element="s1:GetByParamsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="s1:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="CancelSoapIn">
    <wsdl:part name="parameters" element="tns:Cancel" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="CancelSoapOut">
    <wsdl:part name="parameters" element="s1:CancelResponse" />
  </wsdl:message>
  <wsdl:portType name="JournalEntriesServiceSoap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByParams">
      <wsdl:input message="tns:GetByParamsSoapIn" />
      <wsdl:output message="tns:GetByParamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <wsdl:input message="tns:CancelSoapIn" />
      <wsdl:output message="tns:CancelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JournalEntriesServiceSoap" type="tns:JournalEntriesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="JournalEntriesService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:AddSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByParams">
      <soap:operation soapAction="JournalEntriesService/GetByParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:GetByParamsSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="JournalEntriesService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:UpdateSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <soap:operation soapAction="JournalEntriesService/Cancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:CancelSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JournalEntriesServiceSoap12" type="tns:JournalEntriesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="JournalEntriesService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:AddSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByParams">
      <soap12:operation soapAction="JournalEntriesService/GetByParams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:GetByParamsSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="JournalEntriesService/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:UpdateSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <soap12:operation soapAction="JournalEntriesService/Cancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:CancelSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JournalEntriesService">
    <wsdl:port name="JournalEntriesServiceSoap" binding="tns:JournalEntriesServiceSoap">
      <soap:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="JournalEntriesServiceSoap12" binding="tns:JournalEntriesServiceSoap12">
      <soap12:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>