B1WebService_HK/wsdlFiles/NatureOfAssesseesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="NatureOfAssesseesService" xmlns:s1="http://www.sap.com/SBO/DIS" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="NatureOfAssesseesService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sap.com/SBO/DIS">
      <s:element name="AddNatureOfAssesseeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:NatureOfAssesseeParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateNatureOfAssesseeResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="DeleteNatureOfAssesseeResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="GetNatureOfAssesseeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:NatureOfAssessee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNatureOfAssesseeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:NatureOfAssesseesParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NatureOfAssessee">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="AbsEntry" type="s:long" />
            <s:element minOccurs="0" name="Code" type="s:string" />
            <s:element minOccurs="0" name="Description" type="s:string" />
            <s:element minOccurs="0" name="AssesseeType">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="atCompany" />
                  <s:enumeration value="atOthers" />
                </s:restriction>
              </s:simpleType>
            </s:element>
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="NatureOfAssesseeParams">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="AbsEntry" type="s:long" />
            <s:element minOccurs="0" name="Code" type="s:string" />
            <s:element minOccurs="0" name="Description" type="s:string" />
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="NatureOfAssesseesParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="NatureOfAssesseeParams">
              <s:complexType>
                <s:all>
                  <s:element minOccurs="0" name="AbsEntry" type="s:long" />
                  <s:element minOccurs="0" name="Code" type="s:string" />
                  <s:element minOccurs="0" name="Description" type="s:string" />
                </s:all>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MsgHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceName">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="NatureOfAssesseesService" />
                </s:restriction>
              </s:simpleType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="NatureOfAssesseesService">
      <s:import namespace="http://www.sap.com/SBO/DIS" />
      <s:element name="AddNatureOfAssessee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:NatureOfAssessee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateNatureOfAssessee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:NatureOfAssessee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteNatureOfAssessee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:NatureOfAssesseeParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNatureOfAssessee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:NatureOfAssesseeParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNatureOfAssesseeList">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddNatureOfAssesseeSoapIn">
    <wsdl:part name="parameters" element="tns:AddNatureOfAssessee" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="AddNatureOfAssesseeSoapOut">
    <wsdl:part name="parameters" element="s1:AddNatureOfAssesseeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateNatureOfAssesseeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateNatureOfAssessee" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateNatureOfAssesseeSoapOut">
    <wsdl:part name="parameters" element="s1:UpdateNatureOfAssesseeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteNatureOfAssesseeSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteNatureOfAssessee" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteNatureOfAssesseeSoapOut">
    <wsdl:part name="parameters" element="s1:DeleteNatureOfAssesseeResponse" />
  </wsdl:message>
  <wsdl:message name="GetNatureOfAssesseeSoapIn">
    <wsdl:part name="parameters" element="tns:GetNatureOfAssessee" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="GetNatureOfAssesseeSoapOut">
    <wsdl:part name="parameters" element="s1:GetNatureOfAssesseeResponse" />
  </wsdl:message>
  <wsdl:message name="GetNatureOfAssesseeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetNatureOfAssesseeList" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="GetNatureOfAssesseeListSoapOut">
    <wsdl:part name="parameters" element="s1:GetNatureOfAssesseeListResponse" />
  </wsdl:message>
  <wsdl:portType name="NatureOfAssesseesServiceSoap">
    <wsdl:operation name="AddNatureOfAssessee">
      <wsdl:input message="tns:AddNatureOfAssesseeSoapIn" />
      <wsdl:output message="tns:AddNatureOfAssesseeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNatureOfAssessee">
      <wsdl:input message="tns:UpdateNatureOfAssesseeSoapIn" />
      <wsdl:output message="tns:UpdateNatureOfAssesseeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNatureOfAssessee">
      <wsdl:input message="tns:DeleteNatureOfAssesseeSoapIn" />
      <wsdl:output message="tns:DeleteNatureOfAssesseeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNatureOfAssessee">
      <wsdl:input message="tns:GetNatureOfAssesseeSoapIn" />
      <wsdl:output message="tns:GetNatureOfAssesseeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNatureOfAssesseeList">
      <wsdl:input message="tns:GetNatureOfAssesseeListSoapIn" />
      <wsdl:output message="tns:GetNatureOfAssesseeListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NatureOfAssesseesServiceSoap" type="tns:NatureOfAssesseesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNatureOfAssessee">
      <soap:operation soapAction="NatureOfAssesseesService/AddNatureOfAssessee" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:AddNatureOfAssesseeSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNatureOfAssessee">
      <soap:operation soapAction="NatureOfAssesseesService/UpdateNatureOfAssessee" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:UpdateNatureOfAssesseeSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNatureOfAssessee">
      <soap:operation soapAction="NatureOfAssesseesService/DeleteNatureOfAssessee" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:DeleteNatureOfAssesseeSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNatureOfAssessee">
      <soap:operation soapAction="NatureOfAssesseesService/GetNatureOfAssessee" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:GetNatureOfAssesseeSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNatureOfAssesseeList">
      <soap:operation soapAction="NatureOfAssesseesService/GetNatureOfAssesseeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:GetNatureOfAssesseeListSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NatureOfAssesseesServiceSoap12" type="tns:NatureOfAssesseesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNatureOfAssessee">
      <soap12:operation soapAction="NatureOfAssesseesService/AddNatureOfAssessee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:AddNatureOfAssesseeSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNatureOfAssessee">
      <soap12:operation soapAction="NatureOfAssesseesService/UpdateNatureOfAssessee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:UpdateNatureOfAssesseeSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNatureOfAssessee">
      <soap12:operation soapAction="NatureOfAssesseesService/DeleteNatureOfAssessee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:DeleteNatureOfAssesseeSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNatureOfAssessee">
      <soap12:operation soapAction="NatureOfAssesseesService/GetNatureOfAssessee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:GetNatureOfAssesseeSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNatureOfAssesseeList">
      <soap12:operation soapAction="NatureOfAssesseesService/GetNatureOfAssesseeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:GetNatureOfAssesseeListSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NatureOfAssesseesService">
    <wsdl:port name="NatureOfAssesseesServiceSoap" binding="tns:NatureOfAssesseesServiceSoap">
      <soap:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="NatureOfAssesseesServiceSoap12" binding="tns:NatureOfAssesseesServiceSoap12">
      <soap12:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>