B1WebService_HK/wsdlFiles/ProfitCentersService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="ProfitCentersService" xmlns:s1="http://www.sap.com/SBO/DIS" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="ProfitCentersService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sap.com/SBO/DIS">
      <s:element name="AddProfitCenterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ProfitCenterParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProfitCenterResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="DeleteProfitCenterResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="GetProfitCenterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ProfitCenter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProfitCenterListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ProfitCentersParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProfitCenter">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="CenterCode" type="s:string" />
            <s:element minOccurs="0" name="CenterName" type="s:string" />
            <s:element minOccurs="0" name="GroupCode" type="s:string" />
            <s:element minOccurs="0" name="InWhichDimension" type="s:long" />
            <s:element minOccurs="0" name="CostCenterType" type="s:string" />
            <s:element minOccurs="0" name="EffectiveFrom" type="s:date" />
            <s:element minOccurs="0" name="EffectiveTo" type="s:date" />
            <s:element minOccurs="0" name="Active">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="ProfitCenterParams">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="CenterCode" type="s:string" />
            <s:element minOccurs="0" name="CenterName" type="s:string" />
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="ProfitCentersParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="ProfitCenterParams">
              <s:complexType>
                <s:all>
                  <s:element minOccurs="0" name="CenterCode" type="s:string" />
                  <s:element minOccurs="0" name="CenterName" type="s:string" />
                </s:all>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MsgHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceName">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="ProfitCentersService" />
                </s:restriction>
              </s:simpleType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="ProfitCentersService">
      <s:import namespace="http://www.sap.com/SBO/DIS" />
      <s:element name="AddProfitCenter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ProfitCenter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProfitCenter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ProfitCenter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProfitCenter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ProfitCenterParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProfitCenter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ProfitCenterParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProfitCenterList">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddProfitCenterSoapIn">
    <wsdl:part name="parameters" element="tns:AddProfitCenter" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="AddProfitCenterSoapOut">
    <wsdl:part name="parameters" element="s1:AddProfitCenterResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProfitCenterSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProfitCenter" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateProfitCenterSoapOut">
    <wsdl:part name="parameters" element="s1:UpdateProfitCenterResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProfitCenterSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProfitCenter" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteProfitCenterSoapOut">
    <wsdl:part name="parameters" element="s1:DeleteProfitCenterResponse" />
  </wsdl:message>
  <wsdl:message name="GetProfitCenterSoapIn">
    <wsdl:part name="parameters" element="tns:GetProfitCenter" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="GetProfitCenterSoapOut">
    <wsdl:part name="parameters" element="s1:GetProfitCenterResponse" />
  </wsdl:message>
  <wsdl:message name="GetProfitCenterListSoapIn">
    <wsdl:part name="parameters" element="tns:GetProfitCenterList" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="GetProfitCenterListSoapOut">
    <wsdl:part name="parameters" element="s1:GetProfitCenterListResponse" />
  </wsdl:message>
  <wsdl:portType name="ProfitCentersServiceSoap">
    <wsdl:operation name="AddProfitCenter">
      <wsdl:input message="tns:AddProfitCenterSoapIn" />
      <wsdl:output message="tns:AddProfitCenterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfitCenter">
      <wsdl:input message="tns:UpdateProfitCenterSoapIn" />
      <wsdl:output message="tns:UpdateProfitCenterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProfitCenter">
      <wsdl:input message="tns:DeleteProfitCenterSoapIn" />
      <wsdl:output message="tns:DeleteProfitCenterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProfitCenter">
      <wsdl:input message="tns:GetProfitCenterSoapIn" />
      <wsdl:output message="tns:GetProfitCenterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProfitCenterList">
      <wsdl:input message="tns:GetProfitCenterListSoapIn" />
      <wsdl:output message="tns:GetProfitCenterListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProfitCentersServiceSoap" type="tns:ProfitCentersServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddProfitCenter">
      <soap:operation soapAction="ProfitCentersService/AddProfitCenter" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:AddProfitCenterSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfitCenter">
      <soap:operation soapAction="ProfitCentersService/UpdateProfitCenter" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:UpdateProfitCenterSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProfitCenter">
      <soap:operation soapAction="ProfitCentersService/DeleteProfitCenter" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:DeleteProfitCenterSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfitCenter">
      <soap:operation soapAction="ProfitCentersService/GetProfitCenter" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:GetProfitCenterSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfitCenterList">
      <soap:operation soapAction="ProfitCentersService/GetProfitCenterList" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:GetProfitCenterListSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProfitCentersServiceSoap12" type="tns:ProfitCentersServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddProfitCenter">
      <soap12:operation soapAction="ProfitCentersService/AddProfitCenter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:AddProfitCenterSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfitCenter">
      <soap12:operation soapAction="ProfitCentersService/UpdateProfitCenter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:UpdateProfitCenterSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProfitCenter">
      <soap12:operation soapAction="ProfitCentersService/DeleteProfitCenter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:DeleteProfitCenterSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfitCenter">
      <soap12:operation soapAction="ProfitCentersService/GetProfitCenter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:GetProfitCenterSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfitCenterList">
      <soap12:operation soapAction="ProfitCentersService/GetProfitCenterList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:GetProfitCenterListSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfitCentersService">
    <wsdl:port name="ProfitCentersServiceSoap" binding="tns:ProfitCentersServiceSoap">
      <soap:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ProfitCentersServiceSoap12" binding="tns:ProfitCentersServiceSoap12">
      <soap12:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>