B1WebService_HK/wsdlFiles/SalesOpportunitySourcesSetupService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="SalesOpportunitySourcesSetupService" xmlns:s1="http://www.sap.com/SBO/DIS" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="SalesOpportunitySourcesSetupService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sap.com/SBO/DIS">
      <s:element name="AddSalesOpportunitySourceSetupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:SalesOpportunitySourceSetupParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSalesOpportunitySourceSetupResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="DeleteSalesOpportunitySourceSetupResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="GetSalesOpportunitySourceSetupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:SalesOpportunitySourceSetup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesOpportunitySourceSetupListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:SalesOpportunitySourceSetupParamsCollection" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalesOpportunitySourceSetup">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="SequenceNo" type="s:long" />
            <s:element minOccurs="0" name="Description" type="s:string" />
            <s:element minOccurs="0" name="Sort" type="s:long" />
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="SalesOpportunitySourceSetupParams">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="SequenceNo" type="s:long" />
            <s:element minOccurs="0" name="Description" type="s:string" />
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="SalesOpportunitySourceSetupParamsCollection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="SalesOpportunitySourceSetupParams">
              <s:complexType>
                <s:all>
                  <s:element minOccurs="0" name="SequenceNo" type="s:long" />
                  <s:element minOccurs="0" name="Description" type="s:string" />
                </s:all>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MsgHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceName">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="SalesOpportunitySourcesSetupService" />
                </s:restriction>
              </s:simpleType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="SalesOpportunitySourcesSetupService">
      <s:import namespace="http://www.sap.com/SBO/DIS" />
      <s:element name="AddSalesOpportunitySourceSetup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:SalesOpportunitySourceSetup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSalesOpportunitySourceSetup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:SalesOpportunitySourceSetup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSalesOpportunitySourceSetup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:SalesOpportunitySourceSetupParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesOpportunitySourceSetup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:SalesOpportunitySourceSetupParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSalesOpportunitySourceSetupList">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSalesOpportunitySourceSetupSoapIn">
    <wsdl:part name="parameters" element="tns:AddSalesOpportunitySourceSetup" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="AddSalesOpportunitySourceSetupSoapOut">
    <wsdl:part name="parameters" element="s1:AddSalesOpportunitySourceSetupResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSalesOpportunitySourceSetupSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSalesOpportunitySourceSetup" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateSalesOpportunitySourceSetupSoapOut">
    <wsdl:part name="parameters" element="s1:UpdateSalesOpportunitySourceSetupResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSalesOpportunitySourceSetupSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSalesOpportunitySourceSetup" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteSalesOpportunitySourceSetupSoapOut">
    <wsdl:part name="parameters" element="s1:DeleteSalesOpportunitySourceSetupResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalesOpportunitySourceSetupSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesOpportunitySourceSetup" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="GetSalesOpportunitySourceSetupSoapOut">
    <wsdl:part name="parameters" element="s1:GetSalesOpportunitySourceSetupResponse" />
  </wsdl:message>
  <wsdl:message name="GetSalesOpportunitySourceSetupListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesOpportunitySourceSetupList" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="GetSalesOpportunitySourceSetupListSoapOut">
    <wsdl:part name="parameters" element="s1:GetSalesOpportunitySourceSetupListResponse" />
  </wsdl:message>
  <wsdl:portType name="SalesOpportunitySourcesSetupServiceSoap">
    <wsdl:operation name="AddSalesOpportunitySourceSetup">
      <wsdl:input message="tns:AddSalesOpportunitySourceSetupSoapIn" />
      <wsdl:output message="tns:AddSalesOpportunitySourceSetupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesOpportunitySourceSetup">
      <wsdl:input message="tns:UpdateSalesOpportunitySourceSetupSoapIn" />
      <wsdl:output message="tns:UpdateSalesOpportunitySourceSetupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesOpportunitySourceSetup">
      <wsdl:input message="tns:DeleteSalesOpportunitySourceSetupSoapIn" />
      <wsdl:output message="tns:DeleteSalesOpportunitySourceSetupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesOpportunitySourceSetup">
      <wsdl:input message="tns:GetSalesOpportunitySourceSetupSoapIn" />
      <wsdl:output message="tns:GetSalesOpportunitySourceSetupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesOpportunitySourceSetupList">
      <wsdl:input message="tns:GetSalesOpportunitySourceSetupListSoapIn" />
      <wsdl:output message="tns:GetSalesOpportunitySourceSetupListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SalesOpportunitySourcesSetupServiceSoap" type="tns:SalesOpportunitySourcesSetupServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSalesOpportunitySourceSetup">
      <soap:operation soapAction="SalesOpportunitySourcesSetupService/AddSalesOpportunitySourceSetup" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:AddSalesOpportunitySourceSetupSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesOpportunitySourceSetup">
      <soap:operation soapAction="SalesOpportunitySourcesSetupService/UpdateSalesOpportunitySourceSetup" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:UpdateSalesOpportunitySourceSetupSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesOpportunitySourceSetup">
      <soap:operation soapAction="SalesOpportunitySourcesSetupService/DeleteSalesOpportunitySourceSetup" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:DeleteSalesOpportunitySourceSetupSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesOpportunitySourceSetup">
      <soap:operation soapAction="SalesOpportunitySourcesSetupService/GetSalesOpportunitySourceSetup" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:GetSalesOpportunitySourceSetupSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesOpportunitySourceSetupList">
      <soap:operation soapAction="SalesOpportunitySourcesSetupService/GetSalesOpportunitySourceSetupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:GetSalesOpportunitySourceSetupListSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SalesOpportunitySourcesSetupServiceSoap12" type="tns:SalesOpportunitySourcesSetupServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSalesOpportunitySourceSetup">
      <soap12:operation soapAction="SalesOpportunitySourcesSetupService/AddSalesOpportunitySourceSetup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:AddSalesOpportunitySourceSetupSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesOpportunitySourceSetup">
      <soap12:operation soapAction="SalesOpportunitySourcesSetupService/UpdateSalesOpportunitySourceSetup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:UpdateSalesOpportunitySourceSetupSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesOpportunitySourceSetup">
      <soap12:operation soapAction="SalesOpportunitySourcesSetupService/DeleteSalesOpportunitySourceSetup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:DeleteSalesOpportunitySourceSetupSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesOpportunitySourceSetup">
      <soap12:operation soapAction="SalesOpportunitySourcesSetupService/GetSalesOpportunitySourceSetup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:GetSalesOpportunitySourceSetupSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesOpportunitySourceSetupList">
      <soap12:operation soapAction="SalesOpportunitySourcesSetupService/GetSalesOpportunitySourceSetupList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:GetSalesOpportunitySourceSetupListSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesOpportunitySourcesSetupService">
    <wsdl:port name="SalesOpportunitySourcesSetupServiceSoap" binding="tns:SalesOpportunitySourcesSetupServiceSoap">
      <soap:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="SalesOpportunitySourcesSetupServiceSoap12" binding="tns:SalesOpportunitySourcesSetupServiceSoap12">
      <soap12:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>