B1WebService_HK/wsdlFiles/WithholdingTaxCodesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="WithholdingTaxCodesService" xmlns:s1="http://www.sap.com/SBO/DIS" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="WithholdingTaxCodesService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sap.com/SBO/DIS">
      <s:element name="GetByParamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:WithholdingTaxCode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:WithholdingTaxCodeParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="RemoveResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="WithholdingTaxCodeParams">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="WTCode" type="s:string" />
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="WithholdingTaxCode">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="WTCode" type="s:string" />
            <s:element minOccurs="0" name="WTName" type="s:string" />
            <s:element minOccurs="0" name="Category">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="wtcc_Invoice" />
                  <s:enumeration value="wtcc_Payment" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="BaseType">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="wtcbt_Gross" />
                  <s:enumeration value="wtcbt_Net" />
                  <s:enumeration value="wtcbt_VAT" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="BaseAmount" type="s:double" />
            <s:element minOccurs="0" name="OfficialCode" type="s:string" />
            <s:element minOccurs="0" name="Account" type="s:string" />
            <s:element minOccurs="0" name="WithholdingType">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="wt_VatWithholding" />
                  <s:enumeration value="wt_IncomeTaxWithholding" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="RoundingType">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="rt_TruncatedAU" />
                  <s:enumeration value="rt_CommercialValues" />
                  <s:enumeration value="rt_NoRounding" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Section" type="s:long" />
            <s:element minOccurs="0" name="Threshold" type="s:double" />
            <s:element minOccurs="0" name="Surcharge" type="s:double" />
            <s:element minOccurs="0" name="Concessional">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Assessee" type="s:long" />
            <s:element minOccurs="0" name="APTDSAccount" type="s:string" />
            <s:element minOccurs="0" name="APSurchargeAccount" type="s:string" />
            <s:element minOccurs="0" name="APCessAccount" type="s:string" />
            <s:element minOccurs="0" name="APHSCAccount" type="s:string" />
            <s:element minOccurs="0" name="ARTDSAccount" type="s:string" />
            <s:element minOccurs="0" name="ARSurchargeAccount" type="s:string" />
            <s:element minOccurs="0" name="ARCessAccount" type="s:string" />
            <s:element minOccurs="0" name="ARHSCAccount" type="s:string" />
            <s:element minOccurs="0" name="Location" type="s:long" />
            <s:element minOccurs="0" name="ReturnType">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="rt26Q" />
                  <s:enumeration value="rt27Q" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Inactive">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="CSTCodeIncomingID" type="s:long" />
            <s:element minOccurs="0" name="CSTCodeOutgoingID" type="s:long" />
            <s:element minOccurs="0" name="NatureOfCalculationBaseCode" type="s:string" />
            <s:element minOccurs="0" name="TypeID" type="s:long" />
            <s:element minOccurs="0" name="WithholdingTaxCodes_Lines">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="WithholdingTaxCodes_Line">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="Effectivefrom" type="s:date" />
                        <s:element minOccurs="0" name="Rate" type="s:double" />
                        <s:element minOccurs="0" name="TDSRate" type="s:double" />
                        <s:element minOccurs="0" name="SurchargeRate" type="s:double" />
                        <s:element minOccurs="0" name="CessRate" type="s:double" />
                        <s:element minOccurs="0" name="HSCRate" type="s:double" />
                        <s:element minOccurs="0" name="LineNum" type="s:long" />
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="MsgHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceName">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="WithholdingTaxCodesService" />
                </s:restriction>
              </s:simpleType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="WithholdingTaxCodesService">
      <s:import namespace="http://www.sap.com/SBO/DIS" />
      <s:element name="GetByParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:WithholdingTaxCodeParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:WithholdingTaxCode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:WithholdingTaxCode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Remove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:WithholdingTaxCodeParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetByParamsSoapIn">
    <wsdl:part name="parameters" element="tns:GetByParams" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="GetByParamsSoapOut">
    <wsdl:part name="parameters" element="s1:GetByParamsResponse" />
  </wsdl:message>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="s1:AddResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="s1:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveSoapIn">
    <wsdl:part name="parameters" element="tns:Remove" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="RemoveSoapOut">
    <wsdl:part name="parameters" element="s1:RemoveResponse" />
  </wsdl:message>
  <wsdl:portType name="WithholdingTaxCodesServiceSoap">
    <wsdl:operation name="GetByParams">
      <wsdl:input message="tns:GetByParamsSoapIn" />
      <wsdl:output message="tns:GetByParamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input message="tns:RemoveSoapIn" />
      <wsdl:output message="tns:RemoveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WithholdingTaxCodesServiceSoap" type="tns:WithholdingTaxCodesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByParams">
      <soap:operation soapAction="WithholdingTaxCodesService/GetByParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:GetByParamsSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="WithholdingTaxCodesService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:AddSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="WithholdingTaxCodesService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:UpdateSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="WithholdingTaxCodesService/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:RemoveSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WithholdingTaxCodesServiceSoap12" type="tns:WithholdingTaxCodesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByParams">
      <soap12:operation soapAction="WithholdingTaxCodesService/GetByParams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:GetByParamsSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="WithholdingTaxCodesService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:AddSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="WithholdingTaxCodesService/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:UpdateSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap12:operation soapAction="WithholdingTaxCodesService/Remove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:RemoveSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WithholdingTaxCodesService">
    <wsdl:port name="WithholdingTaxCodesServiceSoap" binding="tns:WithholdingTaxCodesServiceSoap">
      <soap:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="WithholdingTaxCodesServiceSoap12" binding="tns:WithholdingTaxCodesServiceSoap12">
      <soap12:address location="http://localhost/B1WS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>